@CHARSET "UTF-8";
/**
 * ===============================================
 * @author sekiya
 *
 * 解約管理で使用する共通CSSをここで定義します。
 *
 * ===============================================
 */

/**
 * ===============================================
 *
 * 状態テーブル
 *
 * ===============================================
 */
.cancellation_statusTableWidth {
    width: 900px;

}
.cancellation_statusTableHight {
    height:50px;
}
.cancellation_statusTableTdWidth1 {
    width: 50px;
}
.cancellation_statusTableTdWidth2 {
    width: 130px;
}
.cancellation_statusTableTdWidth3 {
    width: 450px;
}
.cancellation_statusTableTdWidth4 {
    width: 150px;
}

.cancellation_titleDiv {
    border-bottom: 1px solid #000000;
    width: 930px;
    font-size:20px;
    padding: 5px;
}

.CCL_visibilityHidden {
    visibility: hidden;
}

.cancellation_chargeShippingDiv {
    border:1px solid red;
    padding:0px 30px;
}