@CHARSET "UTF-8";
/**
 * ===============================================
 * @author sekiya
 *
 * 共通で使用するCSSをここで定義します。
 * 共通CSSクラス名はすべてアンダーバーから始まります。
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * 基本セレクタ
 *
 * ===============================================
 */
html body{
  font-size:12px;
}

button{
  font-size:12px;
  line-height:130%;
}



/**
 * ===============================================
 *
 * font系
 *
 * ===============================================
 */
.COM_fontRed{
  color:red;
}

.COM_fontGreen{
  color:#00B050;
}

.COM_fontGrey{
  color:#666666;
}

.COM_fontWhite{
  color:white;
}

.COM_fontBlue{
  color:blue;
}

.COM_fontKana{
  font-size:10px;
  margin-bottom:4px;
}

.COM_bold{
  font-weight:bold;
}

.COM_fontTextarea{
  font-size:12px;
}



/**
 * ===============================================
 *
 * テーブル基本設定
 *
 * ===============================================
 */
/* table */
.COM_table{
  border: 1px solid #e5eff8;
  border-collapse: collapse;
  margin:5px 0px;
}
/* td */
.COM_table td{
  border: 1px solid #e5eff8;
  /*border: 1px solid #AFE0FF;*/
  padding: 0.3em 0.5em;
}

/* table(線なし) */
.COM_tableBorderZero{
  border: 0px;
  border-collapse: collapse;
  margin:5px 0px;
}
/* table(線なし) td */
.COM_tableBorderZero td{
  border: 0px;
  padding: 0.3em 0.5em;
}

/* レイアウト用テーブル */
.COM_layoutTable{
  padding:0px;
  margin:0px;
  border:0px solid #000000;
}



/**
 * ===============================================
 *
 * テーブル幅
 *
 * ===============================================
 */
 /* 基本テーブルwidth */
.COM_tableWidthBasic{
  width:470px;
}

/* 長めのテーブルwidth */
.COM_tableWidthLong{
  width:650px;
}

/**
 * ===============================================
 *
 * td幅の種類
 *
 * ===============================================
 */
/* 基本テーブル td width */
.COM_tdWidthBasic{
  width:130px;
}



/**
 * ===============================================
 *
 * テーブル背景色の種類
 *
 * ===============================================
 */
.COM_bgColorDeep{
  background: #DBEEF3; /* Deep Color */
}
.COM_bgColorLight{
  background: #f4f9fe; /* Light Color */
}
.COM_bgColorGrey{
  background: #666666; /* Grey Color */
}
.COM_bgColorLightGrey{
  background: #D3D3D3; /* Light Grey Color */
}
.COM_bgColorGreen{
  background: #94CE42; /* Green Color */
}

/**
 * ===============================================
 *
 * エラーメッセージDIVに使用
 *
 * ===============================================
 */
.COM_errorMsg{
	color:red;
    font-weight:bold;;
	border: 1px solid red;
}




/**
 * ===============================================
 *
 * align 系
 *
 * ===============================================
 */
.COM_center{
  text-align: center;
}

.COM_left{
  text-align: left;
}

.COM_right{
  text-align: right;
}



/**
 * ===============================================
 *
 * valign 系
 *
 * ===============================================
 */

.COM_top{
  vertical-align: top;
}

.COM_middle{
  vertical-align: middle;
}

.COM_bottom{
  vertical-align: bottom;
}

/**
 * ===============================================
 *
 * 基本ペイン
 *
 * ===============================================
 */
#COM_painSingle{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*vertical-align:top;*/ /*子要素までtopになったのでコメントアウト*/
  width:980px;
}


/**
 * ===============================================
 *
 * 1024×768 の枠表示
 *
 * ===============================================
 */
.COM_srcBorder1024{
  width:1px;
  height:510px;
  border-right: 1px solid #000000;
  position:absolute; top:0px; left:1000px;
  margin:0px;
  padding:0px;
}

.COM_srcBorder768{
  width:1000px;
  height:1px;
  border-top: 1px solid #000000;
  position:absolute; top:510px; left:0px;
  margin:0px;
  padding:0px;
}



/**
 * ===============================================
 *
 * その他
 *
 * ===============================================
 */
.COM_displayNone{
  display:none;
}

.COM_textLink{
  color:#0000FF;
  text-decoration: underline;
  cursor: pointer;
}
.COM_nowrap{
  white-space: nowrap;
}

