@CHARSET "UTF-8";
/**
 * ===============================================
 * @author sekiya
 *
 * 顧客管理で使用する共通CSSをここで定義します。
 *
 * ===============================================
 */


/**
 * ===============================================
 *
 * 顧客管理のテスト表示
 *
 * ===============================================
 */
.CST_testDisplayNone{

  /*本番時のみ以下を指定。*/
  display:none;

}
.CST_returnCancelDisplayNone{

  /*本番時のみ以下を指定。*/
  display:none;

}
.CST_displayNoneWithountAdmin{

  /*本番時のみ以下を指定。*/
  display:none;

}


/**
 * ===============================================
 *
 * 顧客管理のダブルペイン
 *
 * ※widthは左側だけ指定とする。
 *
 * ===============================================
 */
#CST_painLeft{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:475px;
  border-right: 2px solid #BFBFBF;/* 画面分割線 */
  vertical-align:top;
}
#CST_painRight{
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align:top;
}





/**
 * ===============================================
 *
 * 同一顧客の比較テーブル
 *
 * ===============================================
 */
 /* テーブル */
.CST_diffTable{
  border: 1px solid #e5eff8;
  border-collapse: collapse;
  margin:5px 0px;
}
/* 値のTD WIDTH */
.CST_diffTable .CST_diffTdWidth{
  width:270px;
}
/* 通常時 */
.CST_diffTable .CST_normal{
  border: 1px solid #e5eff8;
  padding: 0.3em 0.5em;
  white-space:nowrap;
  background: white;
  color:black;

}
/* 通常時（ヘッダ用） */
.CST_diffTable .CST_normalHead{
  border: 1px solid #e5eff8;
  padding: 0.3em 0.5em;
  white-space:nowrap;
  background: #f4f9fe; /* Light Color */
  color:black;
}
/* マッチした時 */
.CST_diffTable .CST_match{
  border: 1px solid white;
  padding: 0.3em 0.5em;
  white-space:nowrap;
  background: red;
  color:white;
}
/* マッチした時（ヘッダ用） */
.CST_diffTable .CST_matchHead{
  border: 1px solid white;
  padding: 0.3em 0.5em;
  white-space:nowrap;
  background: red;
  color:white;
}


/**
 * ===============================================
 *
 * 配送先一覧
 *
 * ===============================================
 */
 .CST_shippingAddressTdWidth{
    width:30px;
 }


/**
 * ===============================================
 *
 * 購入情報詳細
 *
 * ===============================================
 */
 .CST_cancelTableTdWidth{
    width:90px;
 }

 .CST_irregularDiv{
    width:800px;
    border:1px solid red;
    padding:15px;
 }

 .CST_showCancelLayer{
      text-align:center;
     width:100%;
     border:1px solid #FF6677;
     background-color:#FFFFFF;
     position:absolute;
     top:230px;
     left:0px
 }
 .CST_cancelName{
     text-align:center;
     vertical-align:middle;
     width:350px;
     font-size:30px;
     color:#FFFFFF;
     border:2px inset #94CE42;
     background-color:#94CE42;
 }

#chargeShippingHistoryTable .CST_boderChange{
     /*border:3px dotted red;*/
     border:3px double #FF0099;
}

#purchaseProductListTable .CST_boderChange{
     /*border:3px dotted red;*/
     border:3px double #FF0099;
}

/**
 * ===============================================
 *
 * 顧客管理メモtextarea
 *
 * ===============================================
 */
.CST_memoTextarea{
    width:300px;
    height:150px;
    font-size:small;
}

/**
 * ===============================================
 *
 * 返品理由説明テーブル
 *
 * ===============================================
 */
/* table */
.CST_returnReasonExplainTable{
  border: 2px solid #003300;
  border-collapse: collapse;
  margin:5px 0px;
}
/* th */
.CST_returnReasonExplainTable th{
  border: 1px solid #FFFFFF;
  padding: 5px 5px;
  background: #94CE42;
  font-weight:normal;
}
/* td */
.CST_returnReasonExplainTable td{
  border: 1px solid #94CE42;
  padding: 5px 5px;
}
