@CHARSET "UTF-8";
/**
 * ===============================================
 * @author fujimoto
 *
 * inquiryで使用するCSSをここで定義します。
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * 基本セレクタ
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * font系
 *
 * ===============================================
 */
INQ_textareaFontSize{
    font-size:20px;
}


/**
 * ===============================================
 *
 * その他
 *
 * ===============================================
 */
.INQ_cursorPointer{
    cursor:pointer;
}

.INQ_marginSmall{
    margin:5px;
}

.INQ_marginMiddle{
    margin:10px;
}

.INQ_marginBig{
    margin:15px;
}

.INQ_marginLeftSmall{
    padding-left:5px;
}

.INQ_marginLeftMiddle{
    padding-left:10px;
}

.INQ_marginLeftBig{
    padding-left:15px;
}



/**
 * ===============================================
 *
 * テーブル基本設定
 *
 * ===============================================
 */
.INQ_tabTable{
  margin:5px 0px;
  border-collapse: collapse;
}
/* tr */
.INQ_tabTable tr{
  padding: 0px;
  margin:0px 0px;
}
/* td */
.INQ_tabTable td{
  padding: 4px;
  margin:0px 0px;
  width:70px;
}

#INQ_painLeft{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:475px;
  border-right: 2px solid #BFBFBF;/* 画面分割線 */
  vertical-align:top;
}

#INQ_painLeftNoBorder{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:475px;
  vertical-align:top;
}

#INQ_painRight{
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align:top;
}

/**
 * ===============================================
 *
 * テーブル幅
 *
 * ===============================================
 */
.INQ_tableWidthMax{
    width:980px;
}

.INQ_tableWidthMin{
    width:20px;
}

.INQ_tableWidthBasic {
  width: 750px;
}

/**
 * ===============================================
 *
 * td幅の種類
 *
 * ===============================================
 */
.INQ_minTd{
    width:1px;
}



/**
 * ===============================================
 *
 * テーブル背景色の種類
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * テーブル線の種類
 *
 * ===============================================
 */
.INQ_onTabBorder{
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
}

.INQ_offTabBorder{
    margin:0px 2px;
    border:1px solid;
    background-color:#BBBBBB;
}

.INQ_contentsTable{
  border-bottom:1px solid;
  border-left:1px solid;
  border-right:1px solid;
}
