@CHARSET "UTF-8";
/**
 * ===============================================
 * @author sekiya
 *
 * 共通で使用するCSSをここで定義します。
 * 共通CSSクラス名はすべてアンダーバーから始まります。
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * 基本セレクタ
 *
 * ===============================================
 */
/*
html body{
  font-size:small;
}
/*
button{
  font-size:12px;
  line-height:130%;
}
*/


/**
 * ===============================================
 *
 * 各レイアウトDIVの基本設定
 *
 * ===============================================
 */
/*
#header
{
    width:970px;
    border:1px solid #DCDCDC;
    border-collapse: collapse;
    padding:5px 10px;
}
#menu
{
    width:970px;
    border:1px solid #DCDCDC;
    border-collapse: collapse;
    padding:5px 10px;
    text-align: left;
}
#info
{
    width:970px;
    border:1px solid #DCDCDC;
    border-collapse: collapse;
    padding:5px 10px;
    text-align: left;
}
#content
{
    width:970px;
    border:1px solid #DCDCDC;
    border-collapse: collapse;
    padding:5px 10px;
    text-align: left;
}
#footer
{
    width:970px;
    border:1px solid #DCDCDC;
    border-collapse: collapse;
    padding:5px 10px;
}
*/


/**
 * ===============================================
 *
 * テーブル基本設定
 *
 * ===============================================
 */
/* table */
.COM_table{
  border: 1px solid #999;
  border-collapse: collapse;
  margin:5px 0px 5px 20px;
}
/* COM_tableのmargin-leftと同期して下さい */
.COM_contentsLeftMargin
{
    margin-left:20px;
}

/* td */
.COM_table td{
  border: 1px solid #999;
  padding: 0.3em 0.5em;
}

/* table(線なし) */
.COM_tableBorderZero{
  border: 0px;
  border-collapse: collapse;
  margin:5px 0px;
}
/* table(線なし) td */
.COM_tableBorderZero td{
  border: 0px;
  padding: 0.3em 0.5em;
}

/* レイアウト用テーブル */
.COM_layoutTable{
  padding:0px;
  margin:0px;
  border:0px solid #000000;
}




/**
 * ===============================================
 *
 * テーブル幅
 *
 * ===============================================
 */
 /* 基本テーブルwidth */
.COM_tableWidthBasic{
  width:470px;
}

/* 長めのテーブルwidth */
.COM_tableWidthLong{
  width:650px;
}

 /* 眺めのパーセント指定width */
.COM_tableWidthLongPercent{
  width:95%
}

/**
 * ===============================================
 *
 * td幅の種類
 *
 * ===============================================
 */
/* 基本テーブル td width */
.COM_tdWidthBasic{
  width:130px;
}



/**
 * ===============================================
 *
 * テーブル背景色の種類
 *
 * ===============================================
 */
.COM_bgColorDeep{
  background: #DBEEF3; /* Deep Color */
}
.COM_bgColorLight{
  background: #f4f9fe; /* Light Color */
}
.COM_bgColorGrey{
  background: #666666; /* Grey Color */
}
.COM_bgColorLightGrey{
  background: #DCDCDC; /* Light Grey Color */
}
.COM_bgColorGreen{
  background: #94CE42; /* Green Color */
}
.COM_bgColorLightYellow{
  background: #FEFFD9; /* Green Color */
}



/**
 * ===============================================
 *
 * font系
 *
 * ===============================================
 */
.COM_fontRed{
  color:red;
}

.COM_fontGreen{
  color:#00B050;
}

.COM_fontGrey{
  color:#666666;
}

.COM_fontWhite{
  color:white;
}

.COM_fontBlue{
  color:blue;
}

.COM_fontDeepPink{
  color:#FF1493;
}

.COM_fontKana{
  font-size:10px;
  margin-bottom:4px;
}

.COM_bold{
  font-weight:bold;
}

.COM_fontTextarea{
  font-size:12px;
}


/**
 * ===============================================
 *
 * エラーメッセージDIVに使用
 *
 * ===============================================
 */
.COM_errorMsg{
    color:red;
    font-weight:bold;;
    border: 1px solid red;
}




/**
 * ===============================================
 *
 * align 系
 *
 * ===============================================
 */
.COM_center{
  text-align: center;
}

.COM_left{
  text-align: left;
}

.COM_right{
  text-align: right;
}



/**
 * ===============================================
 *
 * valign 系
 *
 * ===============================================
 */

.COM_top{
  vertical-align: top;
}

.COM_middle{
  vertical-align: middle;
}

.COM_bottom{
  vertical-align: bottom;
}


/**
 * ===============================================
 *
 * レイアウト系
 *
 * ===============================================
 */
.COM_paddingMarginZero
{
  padding:0px;
  margin:0px;
}


/**
 * ===============================================
 *
 * 基本ペイン
 *
 * ===============================================
 */
#COM_painSingle{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*vertical-align:top;*/ /*子要素までtopになったのでコメントアウト*/
  width:980px;
}


/**
 * ===============================================
 *
 * 1024×768 の枠表示
 *
 * ===============================================
 */
.COM_srcBorder1024{
  width:1px;
  height:510px;
  border-right: 1px solid #000000;
  position:absolute; top:0px; left:1000px;
  margin:0px;
  padding:0px;
}

.COM_srcBorder768{
  width:1000px;
  height:1px;
  border-top: 1px solid #000000;
  position:absolute; top:510px; left:0px;
  margin:0px;
  padding:0px;
}



/**
 * ===============================================
 *
 * その他
 *
 * ===============================================
 */
.COM_displayNone{
  display:none;
}

.COM_textLink{
  color:#0000FF;
  text-decoration: underline;
  cursor: pointer;
}
.COM_nowrap{
  white-space: nowrap;
}




/**
* ===============================================
*
* design CSS 2012-05-29 create by mukumoto
*
* ===============================================
*/

div#wrapper
{
width:970px;
margin:0 auto;
line-height:1.5em;
margin-top:20px;
}
div#header
{
width:970px;
height:93px;
/* [disabled]border:1px solid gray; */
/*background:url(/img/mypage/header_bg_direct.jpg) top left no-repeat;*/
}
div#info
{
width:970px;
/* [disabled]border:1px solid gray; */
text-align: left;
padding: 15px 8px;
font-size:13px;
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
div#menu
{
width:970px;
height:59px;
/* [disabled]border:1px solid gray; */
text-align: left;
background:url(/img/mypage/menu_bg.jpg) top left no-repeat;
}
div#contents
{
width:98%;
border-top:1px solid #E7E7E7;
border-bottom:1px solid #E7E7E7;
text-align: left;
padding:10px 0 35px 0;
/* [disabled]margin-bottom: 20px; */
font-size:13px;
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
div#footer
{
width:970px;
/* [disabled]border:1px solid gray; */
margin-top: 10px;
}


#loginTable
{
border:none;
margin: 10px auto 15px;
}
#loginTable td{
border:none;
padding:5px 15px;
}
*/

/*
table
{
width:95%;
border-collapse:collapse;
border:none;
border-right:1px solid #999;
border-bottom:1px solid #999;
margin: 10px auto 15px;
}
td{
border-top:1px solid #999;
border-left:1px solid #999;
padding:5px;
}
*/

.tbl_login, tbl_login td {border:none;}

#logout {width:107px;
margin:0 0;
padding-right:5px;
float:right;
}

.menu {float:left;}

.menu img {border:none;}

.topic {font-size:20px; font-weight:bold;}

.clear {clear:both;}

p {margin:3px; padding:0;}

h2 {font-size:24px;}

.item {
text-align:center;
background-color:#FEFFD9;
}

.small {font-size:14px;}

.copyright {font-size:14px;
text-align:left;
padding-left:10px;}

.footerlink {
font-size:14px;
list-style:none;
/* [disabled]margin:0; */
padding:0 0 0 10px;
}

.footerlink li {float:left;
background:url(/img/mypage/mkArw_blue.gif) 0 4px no-repeat;
padding-left:20px;}

.footerlink a {color:#000; text-decoration:none;}
.footerlink a:hover {color:#F60;}

.siteinfo {float:left;}

.security {float:right;
margin-top:10px;}
