@CHARSET "UTF-8";
/**
 * ===============================================
 *
 * テーブル基本設定
 *
 * ===============================================
 */
/* table */
.ODR_table_top{
  border: 1px solid #e5eff8;
  border-collapse: collapse;
  margin:0px 0px;
}
/* td */
.ODR_table_top td{
  border: 1px solid #e5eff8;
  padding: 0.3em 0.5em;
}
