@CHARSET "UTF-8";
/**
 * 商品管理関連の専用cssファイル
 *
 * @author      kawakami <kawakami@kaihatsu.com>
 * @since       2009/12/26
 * @version     SVN: $Id: product.css,v 1.1 2012/09/21 07:08:11 fujimoto Exp $
 */

.PDT_tableWidthMax {
  width: 1000px;
}
.PDT_tableWidthBasic {
  width: 750px;
}

.PDT_tdHeightHeader {
    height: 50px;
}

.PDT_tdHeightBasic {
    height: 35px;
}

.PDT_infoMessage {
  padding-top: 5px;
}

.PDT_inputExample {
  padding-left: 5px;
}

.PDT_onTabBorder{
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
}

.PDT_offTabBorder{
    margin:0px 2px;
    border:1px solid;
    background-color:#BBBBBB;
}

.PDT_noneTabBorder{
    border-bottom:1px solid;
}

.PDT_contentsTable{
  border-bottom:1px solid;
  border-left:1px solid;
  border-right:1px solid;
  padding: 0px 4px 4px 4px;
  width: 1000px;
}

.PDT_tabTable{
  margin:5px 0px;
  border-collapse: collapse;
}
/* tr */
.PDT_tabTable tr{
  padding: 0px;
  margin:0px 0px;
}
/* td */
.PDT_tabTable td{
  padding: 4px;
  margin:0px 0px;
}
.PDT_cursorPointer{
    cursor:pointer;
}

.PDT_rowBackgoundColor{
    background-color:#F8F8FF;
}