@CHARSET "UTF-8";
/**
 * ===============================================
 * @author fujimoto
 *
 * salesで使用するCSSをここで定義します。
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * 基本セレクタ
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * font系
 *
 * ===============================================
 */


/**
 * ===============================================
 *
 * その他
 *
 * ===============================================
 */
.SAL_title {
    font-size: 16px;
    padding: 5px;
}



/**
 * ===============================================
 *
 * テーブル基本設定
 *
 * ===============================================
 */


/**
 * ===============================================
 *
 * テーブル幅
 *
 * ===============================================
 */


/**
 * ===============================================
 *
 * td幅の種類
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * テーブル背景色の種類
 *
 * ===============================================
 */



/**
 * ===============================================
 *
 * テーブル線の種類
 *
 * ===============================================
 */
