/***********************
 タブ関連CSS
************************/
/*
#tab {
	width: 1000px;
}
#tab #sub-menu {
	float: left;
	margin-left: 10px;
}
#tab #sub-menu li {
	text-align: center;
	display: block;
	float: left;
	width: 5em;
	background: #CCC;
	border: 1px solid #333;
}
#tab #sub-menu li.select {
	background: #FFF;
	border-bottom: 1px solid #FFF;
}
#tab div {
	clear: both;
	width: 1000px;
}

.select {

}
*/
    #tab {
      float:left;
      width:100%;
      background:#FFF;
      /*font-size:93%;*/
      line-height:normal;
    }
    #tab ul {
      margin:0;
      padding:10px 10px 0 50px;
      list-style:none;
    }
    #tab li {
      display:inline;
      margin:0;
      padding:0;
    }
    #tab li.selectOn {
      display:inline;
      margin:0;
      padding:0;
      color: #FFFFFE;
      border: 1px solid #FFFFFF;
      background-color: #5F9EA0;
      padding:5px 8px 4px 6px;
    }
    #tab li.selectOff {
      display:inline;
      margin:0;
      padding:0;
      color: #FFFFFE;
      border: 1px solid #FFFFFF;
      background-color: #778899;
      padding:5px 8px 4px 6px;
    }
/*
    #tab {
      float:left;
      width:100%;
      background:#FCF1F6;
      font-size:93%;
      line-height:normal;
          border-bottom:1px solid #E276A7;
      }
    #tab ul {
          margin:0;
          padding:10px 10px 0 50px;
          list-style:none;
      }
    #tab li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tab a {
      float:left;
      background:url("/img/tableft8.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tab a > span {
      float:left;
      display:block;
      background:url("/img/tabright8.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#333;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/

    #tab a span {float:none;}
    /* End IE5-Mac hack */    /*
    #tab a:hover span {
      color:#591333;
      }
    #tab a:hover {
      background-position:0% -42px;
      }
    #tab a:hover span {
      background-position:100% -42px;
      }

      #tab #current a {
              background-position:0% -42px;
      }
      #tab #current a span {
              background-position:100% -42px;
      }
*/