

    * {
      margin: 0%;
      padding: 0%;
      font-style: normal;
      font-weight: normal;
    }
    
    body, input, select, textarea, code {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
      font-size: 0.84em;
      line-height: 180%;
      background-attachment: scroll;
      background-image: url(../images/logo.png);
      background-repeat: no-repeat;
      background-position: right top;
    }
    
    h1 {
        margin-top: 40px;
      font-size: 1em;
      font-weight: bold;
        padding: 0.4em 1em 0.4em 1em;
        border-top: 6px solid #336666;
      background-color: #669999;
        color: #ffffff;
    }
    
    h2 {
      font-size: 1.2em;
      text-indent: 0.4em;
      margin-top: 2em;
        margin-bottom: 1em;
      font-weight: bold;
        color: #336666;
        border-bottom: 1px solid #acc2cd;
    }
    
    h3 {
      font-size: 1em;
      text-indent: 0.6em;
      padding: 0.2em;
        color: #990000;
        font-weight: bold;
    }
    
    div#header {
      padding-bottom: 1em;
    }
    
    div#contents, h1 {
      padding-left: 4%;
      padding-right: 4%;
    }
#menu ul {
  margin: 0em;
  padding: 0em;
  text-indent: 1em;
  border: 1px solid #669999;
}

#menu ul li {
  display: inline;
  padding: 0.4em 0.2em 0.4em 0.2em;
}
    div#footer {
        padding: 0.4em 1em 0.4em 1em;
        color: #ffffff;
      background-color: #669999;
        text-align: right;
      font-size: 1em;
        margin-top: 2em;
    }
    
    div#footer p {
        padding: 0em;
    }
    
    div#header a, div#footer a {
      color: #FFFFFF;
      text-decoration: none;
    }
    
    div#header ul {
      margin: 0em;
      padding: 0em;
      text-indent: 1em;
    }
    
    div#header li {
      display: inline;
      padding: 0.4em 0.2em 0.4em 0.2em;
    }
    
    p {
      padding: 0% 1% 2% 1%;
    }
    
    span.markup {
      color: #990000;
    }
    
    hr {
      color: #999999;
      height: 1px;
    }
    
    table {
        margin: 1% 3% 1% 3%;
    }
    
    table, dl {
      font-size: 0.9em;
      line-height: 180%;
    }
    
    col.center {
      text-align: center;
    }
    
    th {
        font-weight: bold;
        color: #666666;
      background-color: #d5e0e6;
      text-align: center;
    }
    
    td {
      vertical-align: top;
    }
    
    td dl, td ul, td ol {
        margin: 0%;
    }
    
    table.dataField {
      border-collapse: collapse;
    }
    
    table.dataField th, table.dataField td {
      border: 1px solid #cccccc;
      padding: 0.4em;
    }
    
    a {
      color: #003399;
    }
    
    dl, ul, ol {
      margin: 0% 4% 2% 4%;
    }
    
    ul li {
      list-style: square;
    }
    
    ol li {
      list-style:: decimal;
    }
    
    dl ul {
      font-size: 1.2em;
    }
    
    dt {
        color: #669999;
      font-weight: bold;
      padding-bottom: 0.2em;
    }
    
    dd {
      padding: 0.4em 1em 0.4em 1em;
      background-color: #efefef;
      margin-bottom: 3em;
      border: 1px solid #cccccc;
    }
    
    ul.messages {
      margin: 2%;
      padding: 4em;
      border: 1px solid #cccccc;
        background-color: #FDE1E2;
      color: #990000;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }
    
    input, select, textarea {
      border: 1px solid #000000;
      font-size: 1em;
    }
    
    input.check {
      border: none;
    }
    
    img {
      border: none;
    }
    
    pre, code {
      font-size: 1em;
    }
    
    ul.note li {
      margin-left: 2em;
    }
    
    em {
        font-weight: bold;
    }
    
    .note {
      margin: 0% 2% 2% 2%;
      padding: 1em;
      font-size: 0.8em;
      background-color: #efefef;
    }
    
    .left {
      text-align: left;
    }
    
    .right {
      text-align: right;
    }
    
    .add {
        font-size: 0.86em;
    }
    
    p.right {
        padding: 0em;
    }
    </style>
<style type="text/css" charset="utf-8">/* See license.txt for terms of usage */



#firebugBody {

    position: fixed;

    top:0;

    left:0;

    margin:0;

    padding:0;

    width:1px;

    height:1px;

    overflow:visible;

}



.firebugCanvas {

    position:fixed;

    top: 0;

    left: 0;

    display:none;

    border: 0 none;

    margin: 0;

    padding: 0;

    outline: 0;

}



.firebugHighlight {

    z-index: 2147483647;

    position: absolute;

    background-color: #3875d7;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugLayoutBoxParent {

    z-index: 2147483647;

    position: absolute;

    background-color: transparent;

    border-top: 0 none;

    border-right: 1px dashed #BBBBBB;

    border-bottom: 1px dashed #BBBBBB;

    border-left: 0 none;

    margin: 0;

    padding: 0;

    outline: 0;

}



.firebugRuler {

    position: absolute;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugRulerH {

    top: -15px;

    left: 0;

    width: 100%;

    height: 14px;

    background: url(chrome://firebug/skin/rulerH.png) repeat-x;

    border-top: 1px solid #BBBBBB;

    border-right: 1px dashed #BBBBBB;

    border-bottom: 1px solid #000000;

}



.firebugRulerV {

    top: 0;

    left: -15px;

    width: 14px;

    height: 100%;

    background: url(chrome://firebug/skin/rulerV.png) repeat-y;

    border-left: 1px solid #BBBBBB;

    border-right: 1px solid #000000;

    border-bottom: 1px dashed #BBBBBB;

}



.overflowRulerX > .firebugRulerV {

    left: 0;

}



.overflowRulerY > .firebugRulerH {

    top: 0;

}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.firebugLayoutBox {

    margin: 0;

    padding: 0;

    border: 0 none;

    outline: 0;

}



.firebugLayoutBoxOffset {

    z-index: 2147483647;

    position: absolute;

    opacity: 0.8;

}



.firebugLayoutBoxMargin {

    background-color: #EDFF64;

}



.firebugLayoutBoxBorder {

    background-color: #666666;

}



.firebugLayoutBoxPadding {

    background-color: SlateBlue;

}



.firebugLayoutBoxContent {

    background-color: SkyBlue;

}



/*.firebugHighlightGroup .firebugLayoutBox {

    background-color: transparent;

}



.firebugHighlightBox {

    background-color: Blue !important;

}*/



.firebugLayoutLine {

    z-index: 2147483647;

    background-color: #000000;

    opacity: 0.4;

    margin: 0;

    padding: 0;

    outline: 0;

    border: 0 none;

}



.firebugLayoutLineLeft,

.firebugLayoutLineRight {

    position: fixed;

    width: 1px;

    height: 100%;

}



.firebugLayoutLineTop,

.firebugLayoutLineBottom {

    position: absolute;

    width: 100%;

    height: 1px;

}



.firebugLayoutLineTop {

    margin-top: -1px;

    border-top: 1px solid #999999;

}



.firebugLayoutLineRight {

    border-right: 1px solid #999999;

}



.firebugLayoutLineBottom {

    border-bottom: 1px solid #999999;

}



.firebugLayoutLineLeft {

    margin-left: -1px;

    border-left: 1px solid #999999;

}

/***********************
 タブ関連CSS
************************/

#tab {
	width: 1000px;
}
#tab #sub-menu {
	float: left;
	margin-left: 10px;
}
#tab #sub-menu li {
	text-align: center;
	display: block;
	float: left;
	width: 5em;
	background: #CCC;
	border: 1px solid #333;
}
#tab #sub-menu li.select { 
	background: #FFF;
	border-bottom: 1px solid #FFF;
}
#tab div {
	clear: both;
	width: 1000px;
	height: 50px;
}

/***********************
 メインメニュー
************************/

/* Navigation */
.nav, .nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  position: relative;
}
.nav li {
  border-left: 1px solid #000;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: bold 1.22em/25px Arial, Helvetica, sans-serif;
  background: #669999;
  color: #ffffff;
  display: block;
  padding: 0 9px;
  text-transform: lowercase;
  text-decoration: none;
}

.nav li a:hover {
  background: #669999;
  color: #ffffff;  

}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  background: #669999;
  color: #ffffff;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  background: #669999;
  color: #ffffff;   
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  background: #669999;
  color: #ffffff;  
}

.nav ul {
  background: #669999;
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0;
  width: 200px;
  position: absolute;
  top: -999em;
  left: -1px;
}
.nav li:hover ul,
.nav li.sfHover ul {
  top: 25px;
}
.nav ul li {
  border: 0;
  float: none;
  list-style: none;
}
.nav ul a {
  border: 1px solid #000;
  border-bottom: 0;
  padding-right: 20px;
  width: 200px;
  white-space: nowrap;
}
.nav ul a:hover {
  background: #669999;
  color: #ffffff;
}