﻿

<h2>ログイン</h2>

<p style="color: red"><?php echo @$this->imploader( @$this->message ); ?></p>
<form name="login_indexForm[form]" action="/login/index/check/" method="post">
    <input type="text" name="login_indexForm[loginId]" value=""><br>
    <input type="password" name="login_indexForm[loginPassword]" value=""><br>
    <input type="submit" name="" value="ログイン">
</form>


