<!-- // メインテーブル開始 -->
<table class="COM_layautTable">

    <tr>
        <!-- // ペイン開始 -->
        <td id="COM_painSingle">

            <!-- // メインタイトル -->
            <h2 id="page_title_{$tabId}">スタッフ一覧</h2>

            <!-- // エラーメッセージ -->
            {if $message|count > 0}
                <p class="COM_errorMsg">
                    {imploader pieces=$message glue='<br>'}
                </p>
            {/if}

            <!-- // 新規作成ボタン -->
            {newTabButton name="新規作成" url=$smarty.const.SUB_FOLDER_PATH|cat:"/tool/staff/input/lvFlag/1"}

            <!-- // フォーム開始 -->
            <form name="searchForm" id="searchForm" method="post" onSubmit="return false;">

                <!-- // hidden -->
                <input type="hidden" name="mode" value="search">

                <!-- 検索条件テーブル 開始-->
                <table class="COM_tableBorderZero" >
                    <tr>
                        <td class="COM_nowrap">部署</td>
                        <td> : </td>
                        <td>{divisionLister name="divisionId" mode="select" selected=$form->getDivisionId() addEmpty=true}</td>
                        <td class="COM_nowrap">メールアドレス（前方一致)</td>
                        <td> : </td>
                        <td>
                            <input type="text" name="email" value="{$form->getEmail()}" size="30" maxlength="100">
                        </td>
                        <td class="COM_nowrap">状態</td>
                        <td> : </td>
                        <td>
                            <input type="radio" name="deleteFlag" value="0" {if $form->deleteFlag() !== '1'}checked{/if}>有効
                            <input type="radio" name="deleteFlag" value="1" {if $form->deleteFlag() === '1'}checked{/if}>削除済み
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            パスワード：<input type="password" name="pass" value="{$form->getPass()}"> 正しく入力後検索すると全編集が可能になります。
                        </td>
                    </tr>
                </table>
                <!-- 検索条件テーブル 終了-->

                <br>

                <!-- // 検索ボタン -->
                {currentTabButton name="　　　検索　　　" url=$smarty.const.SUB_FOLDER_PATH|cat:"/tool/staff/search" tabId=$tabId formId="searchForm"}　　　　　　
                <!-- // リセットボタン -->
                <input type="reset" name="resetButton" value="　　　リセット　　　">

            </form>
            <!-- // 検索フォーム終了 -->

            <hr>

            {* 検索結果あり *}
            {if count($search) > 0}

                <!-- // 検索結果件数開始 -->
                <div>
                    結果 <span class="COM_bold COM_fontBlue">{$search|count}</span>件ヒットしました。<br>
                </div>
                <!-- // 検索結果件数終了 -->

                <br>

                <!-- // 検索結果リスト開始 -->
                <table class="COM_table PDT_tableWidthBasic">
                    <tr>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">編集</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">ID</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">部署</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">姓/名</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">姓/名（カナ）</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">メールアドレス</td>
                        <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">状態</td>
                        {if $form->getSpFlag() === '1'}
                            <td class="COM_bgColorLight COM_bold COM_center COM_nowrap">パスワード</td>
                        {/if}
                    </tr>

                    {assign var="lineCount" value='0'}
                    {foreach from=$search key="k" item="v"}
                    {if $lineCount === '1'}
                        {assign var="lineColor" value="PDT_rowBackgoundColor"}
                        {assign var="lineCount" value='0'}
                    {else}
                        {assign var="lineColor" value=''}
                        {assign var="lineCount" value='1'}
                    {/if}
                    <tr>
                        <td class="COM_nowrap {$lineColor}">
                            {if $form->getSpFlag() === '1'}
                                {newTabButton name="編集" url=$smarty.const.SUB_FOLDER_PATH|cat:"/tool/staff/input/lvFlag/1/spFlag/1/staffId/"|cat:$v['mst']->getStaffId() protected=true}
                            {else}
                                {newTabButton name="編集" url=$smarty.const.SUB_FOLDER_PATH|cat:"/tool/staff/input/lvFlag/1/staffId/"|cat:$v['mst']->getStaffId() protected=true}
                            {/if}
                        </td>
                        <td class="COM_nowrap {$lineColor}">{$v['mst']->getStaffId()}</td>
                        <td class="COM_nowrap {$lineColor}">{dbWrite arClassName='Mikoshiva_Db_NinsyoAr_MstDivision' pkey=$v['mst']->getDivisionId() column=array('divisionName')}</td>
                        <td class="COM_nowrap {$lineColor}">{$v['mst']->getLastName()} {$v['mst']->getFirstName()}</td>
                        <td class="COM_nowrap {$lineColor}">{$v['mst']->getLastNameKana()} {$v['mst']->getFirstNameKana()}</td>
                        <td class="COM_nowrap {$lineColor}">{$v['mst']->getEmail()}</td>
                        <td class="COM_nowrap {$lineColor}">
                            {if $v['mst']->getDeleteFlag() !== '1'}
                                {if $v['mst']->getValidFlag() === '1'}有効
                                {else}無効
                                {/if}
                            {else}
                                削除<br>
                                【{$v['mst']->getDeletionDatetime()}】
                            {/if}
                        </td>
                        {if $form->getSpFlag() === '1'}
                            <td class="COM_nowrap {$lineColor}"><span class="COM_textLink" onClick="alert('{$v['mst']->getLoginPassword()}');">見る</span></td>
                        {/if}
                    </tr>
                    {/foreach}
                </table>
                <!-- // 検索結果リスト終了 -->

            {* 検索結果なし *}
            {else}

                <p>該当する検索結果はありません。</p>

            {/if}

        </td>
        <!-- // ペイン終了 -->

    </tr>

</table>
<script type="text/javascript">COM_chgTabText('{$tabId}');</script>
<!-- // メインテーブル終了 -->