@charset "utf-8";
/* CSS Document */

.hide {
	display:none;
}

img {
	border:0;
}


.step {
	margin:20px auto;
	text-align:center;
	width:850px;
}
/*.step {
	margin:20px auto;
	text-align:center;
	width:620px;
	padding-left:115px;
}*/
.step2 {
	margin:20px auto;
	text-align:center;
}

.defaultArea {
	width: 900px;
	/*position: absolute;*/
	position: relative;
	left: 50%;
	height: 100%;
	width: 1000px;
	margin-left: -500px; /* MUST be half the width */
}


.comment {
	background:#EEEECC;
	margin:20px 0;
}
.comment .top_title {
	font-size:140%;
	color:#FE8200;
	padding:25px 0 3px 15px;
}
.comment .message {
	font-size:75%;
	padding:3px 0 18px 15px;
	line-height:130%;
}
.comment .message p {
	margin:3px 0;
}




.main {
	padding:0 0 10px;
	width:95%;
	margin:0 auto;
/*	position: absolute;
	left: 50%;
	height: 100%;
	width: 1000px;
	margin-left: -500px; /* MUST be half the width */
}

.main .bad {
	font-size:140%;
	color:#FF0000;
	font-weight:bold;
	margin:0 auto 30px;
}
.main .bad p {
	margin:5px 0;
}

.main .letter_box {
	background:#F6F6F6;
	padding:40px;
	text-align:center;
	color:#000000;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

.main .box {
	margin:5px 0 5px;
}



/* left Document */

.yajirushi {
	margin:-45px 0 45px;
	margin-left:450px;
}

.yajirushi2 {
	margin:-10px 0 45px;
	margin-left:450px;
}

.main .box .left .speace {
	width:635px;
	font-size:1px;
}

.main .box .left .tab {
	margin:25px 0 45px;
	font-size:80%;
	line-height:130%;
	padding:0 29px 0;
}

.main .box .left .tab4 {
	margin:-30px 0 45px;
	font-size:80%;
	line-height:130%;
	padding:0 29px 0;
	background:rgb(238, 238, 204);
}

.main .box .left .tab .attention {
	color:#FF0000;
}

.main .box .left .tab2 {
	margin:25px 0 45px;
	font-size:80%;
	line-height:130%;
}

.main .box .left .tab3 {
	margin:25px 0 25px;
	font-size:80%;
	line-height:130%;
	padding:0 29px 0;
}

.main .box .left .title {
	font-size:100%;
	font-weight:bold;
	color:#FF6600;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	border-bottom:solid 1px #F2F2F2;
	padding-bottom:2px;
}

.main .box .left .message {
	font-size:80%;
	line-height:130%;
	margin:5px 0;
}

.main .box .left .message p {
	margin:1px 7px;
}

.main .box .left .line {
	border-bottom:solid 1px #E7E7E7;
	font-size:1px;
	line-height:1px;
	margin:10px 0 10px;
}

.main .box .left .card {
	border:solid 1px #E7E7E7;
	background:#F5F5F5;
	padding:10px;
	margin-top:5px;
}

.main .box .left .card p {
	color:#FF0000;
	margin:1px 0;
	font-size:90%;
}

.main .box .left .letter {
	border:solid 1px #E7E7E7;
	padding:5px;
	margin:40px 0;
}

.main .box .left .letter .color {
	color:#FF0000;
}

.main .box .left .letter .back {
	background:#FFFF00;
}

.main .box .left .letter .text {
	margin:50px;
	font-size:90%;
	line-height:150%;
}

.main .box .left .letter .text .speace_1 {
	margin:60px 0 45px;
}

.main .box .left .letter .text .speace_2 {
	margin:-15px 0 40px;
}

.main .box .left .letter .text ul {
	margin:0 10px;
	padding:20px 10px;
}

.main .box .left .letter .text ul li {
	list-style:none;
	background:url(../images/main/list.jpg) no-repeat;
	padding:0 0 50px 60px;
}

.main .box .left .cash {
	margin:25px 0 45px;
	font-size:90%;
	line-height:130%;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

.main .box .left .cash ul {
	padding /**/:0 0 0 35px;
	_margin:0 0 0 30px;
}

.main .box .left .cash li {
	list-style:disc;
	border-bottom:solid 1px #E7E7E7;
	padding:10px 0 5px;
}

.main .box .left .cash .en {
	color:#990000;
	font-size:90%;
	text-decoration:line-through;
}

.main .box .left .cash .payment {
	color:#990000;
	font-size:90%;
}

.main .box .left .cash .text {
	font-size:75%;
	color:#333333;
}

.main .box .left .cash .money {
	font-size:130%;
	color:#990000;
	font-weight:bold;
	padding /**/:10px 20px 20px 32px;
	_padding:20px 20px 10px 22px;
}

.main .box .left .privacy {
	overflow:auto;
	height:250px;
	border:solid 1px #E7E7E7;
	padding:15px 30px;
	background:#F6F6F6;
}

.main .box .left .hihyouji {
	display:none;
}




/* icon Document */


.icon {
	border:solid 1px #E7E7E7;
	padding:20px;
	margin:0 0 45px;
}





/* right Document */

.main .box .right .speace {
	width:200px;
	font-size:1px;
	line-height:1px;
}

.main .box .right .content {
	border:solid 1px #E7E7E7;
	background:#EEEECC;
	padding:15px 15px 10px;
	font-size:85%;
	line-height:130%;
}

.main .box .right .content .title {
	color:#CC0000;
	font-weight:bold;
	font-size:120%;
	line-height:130%;
	padding-bottom:5px;
	text-align:center;
	margin:10px 0 5px;
}

.main .box .right .content p {
	margin:8px 0;
}

.main .box .right .content .line {
	border-bottom:dotted 1px #CCCCCC;
	font-size:1px;
	line-height:1px;
	margin:25px 0 25px;
}




.copyright {
	border-top:solid 1px #E7E7E7;
}

.copyright .box {
	width:850px;
	margin:0 auto;
	padding-top:10px;
}

.copyright .clear {
	clear:both;
	font-size:1px;
	margin-bottom /**/:-5px;
	_margin-bottom:-15px;
}

.copyright .left {
	float:left;
	width:400px;
}

.copyright .right {
	float:right;
	padding-top:13px;
}
.copyright .right p {
	text-align:right;
	margin:5px 0;
	font-size:72%;
	color:#CCCCCC;
}
.copyright .right p img {
	margin-left:15px;
}


.copyright .copy_tab {
	text-align:right;
}
.copyright .copy_tab p {
	margin:5px;
}
.copyright .copy_tab p img {
	margin-left:15px;
}


/* bt Document */


.button {
	width:130px;
	height:24px;
	display:block;
	margin-left /**/:5px;
	float:left;
}

.button a {
	background:url(../images/main/tab_bg.jpg) no-repeat;
	font-size:100%;
	line-height:24px;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	width:130px;
	height:24px;
	display:block;
	float:left;
	margin-left:5px;
}

.button a:hover {
	color:#FF9900;
}

.area {
	border:solid 1px #E7E7E7;
	padding:10px;
	background:rgb(238, 238, 204);
}
.errorMessage {
	font-size:30px;
	color:red;
}

.cursorPointer {
	cursor:pointer
}

.fontRed {
	color:red;
}

.posRight {
	position:relative;
	left:200px;
}

.numImgPos {
	margin:-10px 20px;
	vertical-align: middle;
}