
<h2 id="page_title_{$tabId}">POPO と AR の作成・更新</h2>

<ol>
    <li>更新する前に DB に SQL を流してください。</li>
</ol>


<p>{currentTabButton name="POPO と AR を更新する" tabId="$tabId" url=$smarty.const.SUB_FOLDER_PATH|cat:"/tool/popo-ar/create"}</p>

