@charset "utf-8";
/* ------------------------------------------- CSS Information
 File Name:      default.css
 Style Info:     ダイレクト出版のぺージ作成で使うデフォルトスタイルシート
----------------------------------------------------------- */


/* ----------------------- 規約 ----------------------------
 style01などの名前付けはページ内では使わない。
-----------------------------------------------------------*/


/* ----------------------- Browser Default Initialization */

body
{
		font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}



html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,span,a,pre,form,fieldset,input,textarea,p,blockquote,table,tr,th,td,img
{
	margin: 0;
	padding: 0;
	font-size: 100%;　　　　　     /*すべてのフォントサイズを統一する*/
	line-height: 100%;             /*すべての行の高さを統一する*/
}


h1,h2,h3,h4,h5,h6
{
	font-weight:normal;            /*h1～6の太字をノーマルに*/
}

ol,ul,li
{
	list-style:none;               /*リストのブレッドを消す*/
}

img,fieldset
{
	border: 0;
	vertical-align: bottom;        /*画像下のスペースをなくす*/
}

textarea
{
	font-size: 100%;               /*テキストエリア内文字サイズのブラウザ間での差異をなくす*/
}

table
{
	border-collapse: collapse;    /*隣接するセルのボーダーを重ねて表示する*/
	border-spacing: 0; 
}




/* ##################classテキストデコレーション####################### */

.style01 /*赤字*/
{
	color:#FF0000;
}

.style02 /*赤字＆太字*/
{
	color:#FF0000;
	font-weight:bold;
}

.style03 /*赤字＆黄色マーカー*/
{
	color:#FF0000;
	background-color:#FFFF00;
}

.style04 /*赤字＆太字＆黄色マーカー*/
{
	color:#FF0000;
	font-weight:bold;
	background-color:#FFFF00;
}

.style05 /*青字*/
{
	color:#0000FF;
}

.style06 /*青字＆太字*/
{
	color:#0000FF;
	font-weight:bold;
}

.style07 /*太字*/
{
	font-weight:bold;
}

.style08 /*太字＆黄色マーカー*/
{
	font-weight:bold;
	background-color:#FFFF00;
}
