.mkMerumaga { padding: 8px; border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(238, 238, 238); font-size: 12px; color: rgb(102, 102, 102); line-height: 1.2; margin-top:20px; }
.mkMerumaga p { padding-bottom: 0.5px; }
.mkMerumaga .List02 { padding-left: 12px; background: url('epxb_list_g4.gif') no-repeat scroll left 10px transparent; }
.mkMerumaga .att01 {  font-size: 13px; font-weight: bold; color: rgb(255, 102, 0); line-height: 1.5; }
.mkMerumaga .att02 { font-size: 11px; color: rgb(135, 135, 135); }


body
{
	font-size:0.85em;
	color:#333;
}

div#mkWrapper
{
	width:970px;
	margin:0 auto;
	line-height:1.5em;
}



div#mkPayment
{
	width:770px;
	border-top: 1px solid #999999;
}

div#mkPayment table tr td
{
	padding:5px;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #999999 #999999;
}

div#mkPrivacy
{
	width:970px;
	border-top: 1px solid #999999;
}
div#mkPrivacy table tr td
{
	padding:10px;
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #999999 #999999;
}


#mkContainer {
	width: 100%;
	width:770px;
}
#mkContainer p, #mkContainer ul, #mkContainer ol, #mkContainer li, #mkContainer dl, #mkContainer dt, #mkContainer dd {
	color: #666666;
	font-style: normal;
	font-weight: normal;
	/*font-family: "ＭＳ Ｐゴシック", Osaka, sans-serif;*/
}
#mkContainer table, #mkContainer caption, #mkContainer th, #mkContainer td {
	color: #666666;
	font-style: normal;
	font-weight: normal;
	/*font-family: "ＭＳ Ｐゴシック", Osaka, sans-serif;*/
	text-align: left;
}
#mkContainer a:link {
	color: #3366cc;
	text-decoration: underline;
}
#mkContainer a:visited {
	color: #3366cc;
	text-decoration: underline;
}
#mkContainer a:hover, #mkContainer a:active {
	color: #3366cc;
	text-decoration: none;
}
#mkContainer input, #mkContainer label {
	vertical-align: middle;
}
/*#mkContainer .w30 {
	width: 30px;
}*/
#mkContainer .w35 {
	width: 35px;
}
#mkContainer .w56 {
	width: 56px;
}
/*#mkContainer .w70 {
	width: 70px;
}*/
#mkContainer .w90 {
	width: 90px;
}
#mkContainer .w116 {
	width: 116px;
}
/*#mkContainer .w266 {
	width: 266px;
}*/
#mkContainer .w287 {
	width: 287px;
}
#mkContainer .w350 {
	width: 350px;
}



#mkFormbox .mkFormboxinner span.usechara {
	color: #ff5a0d;
	font-size: 10px;
	line-height: 1;
}
@media not all {
}
#mkFormbox .mkFormboxList02 {
	margin-bottom: 10px;
	padding: 0pt;
}
#mkFormbox .mkFormboxList03 {
	margin-bottom: 5px;
	padding: 0pt;
}
.formArea, #mkFormbox .mkFormboxinner .formArea {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}
#mkFormbox .mkFormboxinner .formArea input{
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	margin: 8px 5px 0pt 0pt;
	padding: 0pt;
}
#mkFormbox .mkFormboxinner input{
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	margin: 0pt;
	padding: 0pt;
}
#mkFormbox .mkFormboxinner .formArea img.addAd {
	margin-top: 5px;
}

#mkFormbox table.mkFormboxinner {
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: -moz-use-text-color #999999 #999999;
	width: 770px;
}


#mkFormbox table.firstBox{
	border-top: 1px solid #999999;
	margin: 18px 0pt 0pt;
}
#mkFormbox p.exclamation {
	padding: 10px 0pt 5px;
}
#mkFormbox p.exclamation, #mkFormbox .mkFormboxinner th {
	margin: 0pt;
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
	vertical-align: top;
}



#epxb0131 .epxb0131Box01 th.exclamation, #mkFormbox .mkFormboxinner th.exclamation {
	padding: 6px 12px;
}
#epxb0131 .epxb0131Box01 th.cTop, #mkFormbox .mkFormboxinner th.cTop {
	background: url('../image/mkform_tdbg.gif') repeat-x scroll left top transparent;
}
#mkFormbox .mkFormboxinner th.child {
	background-color: #e1e1a1;
}
#mkFormbox .mkFormboxinner th.mkformNecessary, #mkFormbox .mkFormboxinner th.mkformOptional{
	margin: 0pt;
	border: 0pt none;
	padding: 12px 0pt 12px 12px;
	width: 188px;
}
#mkFormbox .mkFormboxinner th.mkformNecessary {
	background: url('../image/mkformNecessary_bg.jpg') repeat-y scroll right top transparent;
}
#mkFormbox .mkFormboxinner th.mkformNecessary2 {
  background: url('../image/mkformNecessary_bg2.gif') repeat-y scroll right top transparent;
}

#mkFormbox .mkFormboxinner th.mkformOptional {
	background: url('../image/mkformOptional_bg.jpg') repeat-y scroll right top transparent;
}
#mkFormbox .mkFormboxinner td{
	margin: 0pt;
	padding: 2px 0pt 0pt 12px;
	text-align: left;
	color: #666666;
	font-size: 12px;
	line-height: 1.5;
	background: url('../image/mkform_tdbg.gif') repeat-x scroll left top transparent;
}
#mkFormbox .mkFormboxinner td {
	width: 74%;
}
#mkFormbox .mkFormboxinner td p {
	line-height: 1.5;
	padding: 5px 0pt 0pt;
}
#epxb0131 .epxb0131Box01 td input, #mkFormbox .mkFormboxinner td input, #epxb0006 .epxb0006Box06 td input {
	margin: 5px;
}
#mkFormbox .mkFormboxinner th.tp, #mkFormbox .mkFormboxinner td.tp {
	background-position: right -1px;
}
#mkFormbox .mkFormboxinner td .mkleft {
	float: left;
	padding: 0pt 0pt 6px;
}
#mkFormbox .mkFormboxinner td .mkright {
	float: right;
	padding: 5px 12px 0pt 0pt;
}
a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:active {
	color:#333333;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
#headerArea p, form, ul, li, img {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-indent: 0pt;
	border: 0pt none;
}


.shippingAddressArea_bg
{
	background-image:url(../image/shippingAddressArea_bg.gif);
	background-repeat:repeat-y;
}



.singleBox
{
	border:1px solid #999;
}

.singleBox table tr td.leftsize{
	width:7%;
	padding:10px;
	vertical-align:middle;
	border-right:1px solid #999;
	background-color:#EEE;
}
	
.singleBox table tr td.rightsize{
	width:93%;
	padding:10px;
}

.singleBox table tr td.leftsize_red{
	width:7%;
	padding:10px;
	vertical-align:middle;
	border-right:1px solid #999;
	background-color:#ffb6c1;
}

.singleBox table tr td.leftsize_orange{
	width:7%;
	padding:10px;
	vertical-align:middle;
	border-right:1px solid #999;
	background-color:#ffe29e;
}

.singleBox table tr td.rightsize p.mkDeliverText {
	margin: 0pt;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

div#mkWrapper p.mkFont01
{
	font-size:14px;
	line-height:1.5em;
	margin:30px 0px 0px 0px;
}

td.seiretsu {
 line-height: 1 !important;
  padding:10px !important;
}
td.seiretsu input {
 height: auto !important;
 margin: 0 !important;
 vertical-align: bottom;
}



/* --------------------------signinで使用-------------------------------- */
div#mkWrapper div#mkSigninForm
{
	background-color:#eeeecc;
	padding:30px 0px;
}

div#mkWrapper div#mkSigninForm table tr td.signinLeft
{
	width:270px;
	padding-bottom:12px;
}

div#mkWrapper div#mkSigninForm table tr td.signinRight
{
	width:700px;
	padding-bottom:12px;
}

div#mkWrapper div#mkSigninForm table tr td.paddingclear
{
	padding:0px;
}

div#mkWrapper div#mkSigninForm table tr td span
{
	line-height:20px;
}

div#mkWrapper div#mkSigninForm table tr td.signinRight strong
{
	font-size:16px;
}

div#mkWrapper div#mkSigninForm a.reminder
{
	font-weight:bold;
	color:#0044CC;
}

span.usechara {
	color: #ff5a0d;
	font-size: 10px;
	line-height: 1;
}

div#mkWrapper div.mkSigninError
{
	 background-color:#FEE;
	 border:1px solid #B00;
	 padding:15px;
	 margin-bottom:20px;
}


div#mkWrapper div.mkSigninError p.mkImportant
{
	font-size:1.3em;
	line-height:1.6em;
	color:#B00;
	font-weight:bold;
	margin-bottom:5px;
	border-bottom:1px dotted #B00;
}

div#mkWrapper div.mkSigninError p.mkImportant2
{
	font-size:1.3em;
	line-height:1.6em;
	color:#555;
	font-weight:bold;
	margin-bottom:5px;
	border-bottom:1px dotted #B00;
}

div#mkWrapper div.mkSigninError p.mkErrorMassage
{
	font-size:1.2em;
	color:#B00;
	font-weight:bold;
	line-height:1.6em;
	margin-bottom:5px;
}



.tn_message
{
	color:#F00;
	display:inline;
	width:175px;
	font-weight:bold;
}

div.mkPrice
{
	border-top:1px solid #DDD;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
}
div.mkPrice table tbody tr td
{
	padding:12px;
	border-bottom:1px solid #DDD;
}

div.mkPrice table tbody tr td ul
{
	padding-left:15px;
}

div.mkPrice table tbody tr td li
{
	font-weight:bold;
	font-size:15px;
	list-style-type:disc;
}

div.mkPrice .money
{
	color:#900;
	font-weight:bold;
	font-size:19px;
	padding:12px 0px 0px 20px;
}




/* --------------------------confirmで使用-------------------------------- */

div#mkWrapper div.mkOrderDetails table tr td
{
	padding:3px 0px;
	vertical-align:top;
}

html*div#mkWrapper div.mkOrderDetails table tr td div
{
		padding:3px 0px;
		line-height:16px;
}


div#mkWrapper div.mkOrderDetails table
{
	border:1px solid #EEE;
}

div#mkWrapper div.mkOrderDetails table table
{
	border:none;
}

div#mkWrapper div.mkOrderDetails table tr .left
{
	width:15%;
	text-align:right;
	font-size:12px;
	font-weight:bold;
	 color:#666;
}

div#mkWrapper div.mkOrderDetails table tr .left2
{
	width:15%;
	text-align:right;
	font-size:12px;
	font-weight:bold;
	 color:#666;
}

div#mkWrapper div.mkOrderDetails table tr .left3
{
	width:85%;
	font-weight:bold;
}

div#mkWrapper div.mkOrderDetails strong.mkPayment
{
	font-weight:bold;
	color:#900;
}

div#mkWrapper div.mkOrderDetails div.mkMoney
{
	font-weight:bold;
	color:#900;
	font-size:20px;
	margin:10px;
	padding-top:10px;
	border-top:1px dotted #DDD;
}


div#mkWrapper .mkDetailtitle
{
	background-color:#eeeecc; 
	color:#7e7e46; 
	padding:7px; 
	font-size:16px; 
	font-weight:bold;
	margin:25px 0px 7px 0px;
	line-height:18px;
}



.errorMessage {
color:#FF0000;
font-size:16px;
font-weight:bold;
}

h2.errorMessage {
color:#FF0000;
font-size:26px;
font-weight:bold;
background-color:#ffeeee;
padding:25px;
border:1px solid #900;
}

