﻿

<h2>ログイン</h2>

<p style="color: red">{imploader pieces=$message}</p>
<form name="login_indexForm" action="{$smarty.const.SUB_FOLDER_PATH}/login/index/check/" method="post">
    <input type="text" name="loginId" value=""><br>
    <input type="password" name="loginPassword" value=""><br>
    <input type="submit" name="" value="ログイン">
</form>


